<?xml version="1.0" encoding="UTF-8" ?>
<robot name="omni_dofbot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find omni_description)/urdf/omni_urdf.xacro" />  
  <!--
  <xacro:include filename="$(find omni_dofbot_description)/urdf/dofbot_without_base_urdf.xacro" />-->
  <xacro:include filename="$(find dofbot_description)/urdf/dofbot_arm_urdf.xacro" />

  <xacro:include filename="$(find omni_description)/urdf/camera_sensor.xacro" />
  <xacro:include filename="$(find omni_description)/urdf/lidar_sensor.xacro" />
  <xacro:include filename="$(find dofbot_description)/urdf/monocular_camera_sensor.xacro"/>
  <xacro:include filename="$(find omni_description)/urdf/imu_sensor.xacro"/>

  <joint name="omni_to_dofbot_joint" type="fixed">
    <parent link="base_link" />
    <child link="arm_base_link" />
    <origin xyz="0.045 0 0.055" rpy="0 0 -1.57" />

  </joint>

</robot>
