<?xml version="1.0" encoding="utf-8"?>
<robot name="dofbot_camera" xmlns:xacro="http://ros.org/wiki/xacro" >

  <!-- Mono - camera sensor -->
  <link name="mono_link">
      <inertial>
          <origin xyz="5.8458E-05 0.0095015 -0.0014824" rpy="0 0 0"/>
          <mass value="0.0097589"/>
          <inertia ixx="3.3488E-06" ixy="1.3667E-08" ixz="6.4235E-09" iyy="1.8662E-06" iyz="-1.0265E-07"
                    izz="2.5696E-06"/>
      </inertial>
      <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
              <mesh filename="package://dofbot_description/meshes/sensor/visual/mono_link.STL"/>
          </geometry>
          <material name="">
              <color rgba="0.7 0.7 0.7 1"/>
          </material>
      </visual>
      <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
              <mesh filename="package://dofbot_description/meshes/sensor/visual/mono_link.STL"/>
          </geometry>
      </collision>
  </link>

  <joint name="mono_joint" type="fixed">
      <origin xyz="${mono_joint_xyz}" rpy="${mono_joint_rpy}"/>
      <parent link="arm_link_04"/>
      <child link="mono_link"/>
  </joint>


  <link name="monocular_camera_link">
  </link>

  <joint name="base_camera_joint" type="fixed">
      <parent link="mono_link" />
      <child link="monocular_camera_link" />
      <origin xyz="0 0 0" rpy="3.14 -1.57 0"/>
  </joint>

  <!-- MONOCULAR CAMERA --> 
  <gazebo reference="monocular_camera_link">
    <material>Gazebo/Orange</material>
    <sensor type="camera" name="camera"> 
      <always_on>true</always_on>
      <update_rate>30.0</update_rate>
      <visualize>true</visualize>
      <camera>
        <horizontal_fov>1.085595</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.05</near>
          <far>8.0</far>
        </clip>
        <distortion>
         <k1>0.0</k1>
         <k2>0.0</k2>
         <k3>0.0</k3>
         <p1>0.0</p1>
         <p2>0.0</p2>
         <center>0.5 0.5</center>
       </distortion>
      </camera>
        <plugin name="monocular_camera_plugin" filename="libgazebo_ros_camera.so">
            <ros>
                <!--namespace>/</namespace-->
                <remapping>~/image_raw:=/mono_camera/image_raw</remapping> 
                <remapping>~/camera_info:=/mono_camera/camera_info</remapping> 

            </ros>
            <camera_name>mono_camera</camera_name>
            <frame_name>monocular_camera_link</frame_name>
            <hack_baseline>0.2</hack_baseline>
        </plugin>
    </sensor>
  </gazebo>

</robot>