<?xml version="1.0"?>
<launch>
     <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find yahboom_car_description)/urdf/full_yahboomcar_X3.urdf" />

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"/>
<!--
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <node name="spawn_urdf"
    pkg="gazebo_ros" 
    type="spawn_model" 
    args="-file $(find yahboom_car_description)/urdf/full_yahboomcar_X3.urdf -urdf -x 0 -y 0 -z 0 -R 0 -P 0 -Y 0 -model full_yahboomcar_X3" />
    -->
  <node name="Controller_Spawner" pkg="controller_manager" type="spawner" args="trans_arm_joint_01 
        trans_arm_joint_02 trans_arm_joint_03 trans_arm_joint_04 trans_arm_joint_05 trans_grip_joint
        trans_rfinger_joint_01 trans_rfinger_joint_02 trans_lfinger_grip_joint_01 trans_lfinger_grip_joint_02 
        trans_lfinger_grip_joint_03" />
        
</launch>
